<div class="hero">
  <div class="frosty col-xs-12 text-center">
    <br /><br /><br />
    <h1>Learn Music From The Pros</h1>
    <br /><br /><br /><br />
    <h2>Get Started Here.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, :class => 'btn btn-primary' %>
    <br />
  </div>
</div>
<br />
<div class="booyah-box col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Pick A Pro To Study With</h3>
    <br />
    <p>Choose from any number of teachers to study with on the instrument of your choosing.</p>
  </div>

  <div class="col-sm-4">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Subscribing gives you access to a teacher's archive of lessons and enables you to communicate questions via video!</p>
  </div>

  <div class="col-sm-4">
    <h3>Join our Community</h3>
    <br />
    <p>Learn and communicate with a community of fellow like-minded musicians.</p>
  </div>
</div>
