<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <div class="text-center">
    <h1>Add A New Teacher</h1>
    <br />
    <br />
    <h3>- Teacher/Course Creation Disclaimer And Agreement -</h3>
    <br />
    <br />
    <p>By creating this course, the teacher or creator of this course is responsible for and expected to:</p>
      <ul>
        <li>1. Create and maintain your Stripe account.</li>
        <li>2. Handle chargebacks and all customer service issues.</li>
        <li>3. Is responsible for paying the Stripe fees and fees the platform charges.</li>
      </ul>
    <% if current_user.uid.nil? %>
      <%= link_to image_tag('blue-on-light.png'), user_omniauth_authorize_path(:stripe_connect) %>
      <br />
      <h4>Once you've connected with stripe to accept payments,</h4>
      <h4>you can finish setting up the course details here and press create.</h4>
    <% end %>
  </div>
  <br />
  <% if current_user.uid.present? %>
    <%= simple_form_for @course, :url => instructor_courses_path do |f| %>
      <%= f.input :title %>
      <%= f.input :instrument %>
      <%= f.input :description %>
      <%= f.input :cost %>
      <%= f.input :image %>
      <br />
      <%= f.submit "Create", :class => 'btn btn-primary' %>
      <br />
    <% end %>
  <% end %>
  <br />
</div>
