<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <div class="deletesection pull-right">
    <%= link_to course_path(current_course), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this course?'}, :class => 'btn btn-md btn-danger' do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </div>
  <%= image_tag current_course.image, :class => 'img-responsive' %>
  <br />
  <%= link_to 'Preview As Student...', course_path(current_course), :class => 'btn btn-warning pull-right preview' %>
  <br class="clr" />

  <div class="text-center">
    <!-- Button trigger section modal -->
    <button class="newsection pull-left btn btn-primary btn-md" data-toggle="modal" data-target="#newSectionModal">
      <span class="glyphicon glyphicon-plus"></span>
      New Section
    </button>
  </div>
  <br class="clr" />
  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
    <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
      <div class="header">
        <span class="glyphicon glyphicon-option-vertical"></span>
        <%= section.title %>
      </div>
      <!-- Button trigger lesson modal -->
      <button class="newlesson btn btn-primary btn-sm pull-left new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <!-- Button delete section -->
      <div class="deletesection pull-right">
        <%= link_to section_path(section), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this section?'}, :class => 'btn btn-md btn-danger' do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
      <br class="clr" />
      <br class="clr" />
      <ul class="lessons">
        <% section.lessons.rank(:row_order).each do |lesson| %>
          <li data-update-url="<%= instructor_lesson_path(lesson) %>">
            <div class="lessondot col-xs-1 pull-left">
              <br />
              <span class="glyphicon glyphicon-option-vertical"></span>
            </div>
            <div class="col-xs-11 text-center">
              <!-- delete lesson button -->
              <div class="delete pull-right">
                <%= link_to lesson_path(lesson), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this lesson?'}, :class => 'btn btn-xs btn-danger' do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </div>
              <p>
                <br class="clr" />
                <b><%= lesson.title %></b>
              </p>
              <p>
                <%= lesson.subtitle %>
              </p>
            </div>
            <br class="clr" />
          </li>
        <% end %>
      </ul>
      <br class="clr" />
    </li>
    <% end %>
  </ul>

</div>




<!-- Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newSectionModalLabel">Add A New Section</h4>

      </div>
      <%= simple_form_for @section, :url => instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add A Section", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newLessonModal">Add A New Lesson</h4>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
            <%= f.input :subtitle %>
            <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add The Lesson", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
