<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= current_lesson.title %></h1>
  <p class="pull-left">
    <%= current_lesson.subtitle %>
  </p>

  <% if current_lesson.next_lesson.present? %>
    <%= link_to lesson_path(current_lesson.next_lesson), :class => 'btn btn-default pull-right' do %>
      Next Lesson &nbsp;
      <span class="glyphicon glyphicon-forward"></span>
    <% end %>
  <% end %>

  <br class="clr" />
  <br />

  <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered vjs-fluid" controls
    preload="auto" width="auto" height="auto" poster="/assets/black.jpg"
    data-setup="{}">
    <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>

    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

</div>
