<br />
<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
  <h2>Sign In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <br />
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
  <br />
  <%= render "devise/shared/links" %>
</div>
