<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">Teacher List</h1>
  <hr />

  <% @courses.each do |course| %>
    <h2 class="text-center"><%= link_to course.title, course_path(course) %></h2>
    <%= image_tag course.image, :class => 'img-responsive' %>
    <br />
    <div class="col-sm-8 col-xs-12">
      <p><strong>Instrument:</strong> <%= course.instrument %></p>
      <p><strong>Description:</strong> <%= course.description %></p>
    </div>
    <div class="col-sm-4 col-xs-12 text-center">
      <%= link_to 'More Details...', course_path(course), :class => 'btn btn-primary btn-large' %>
    </div>
    <hr class="col-xs-8 col-xs-offset-2">
    <br class="clr" />
  <% end %>
</div>
