
<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= @course.title %></h1>
  <%= image_tag @course.image, :class => 'img-responsive' %>
  <br />
  <div class="col-sm-4 col-xs-12 text-center">
    <h4><span class="label label-default">
      <%= number_to_currency @course.cost %>
    </span></h4>

    <% if current_user && current_user == @course.user %>
      <br />
      <br />
      <%= link_to 'Administer', instructor_course_path(@course), :class => 'btn btn-danger btn-large' %>
    <% end %>

    <br />

    <% if current_user && current_user.enrolled_in?(@course) %>
      <h4><span class="label label-info">You Are Subscribed</span></h4>
      <br />
      <%= link_to 'Cancel Subscription', course_enrollment_path(@course, @enrollment), :data => {:confirm => 'Once you delete this subscription you will immediatly lose access to this material. Are you sure you want to delete this course?'}, :class => 'btn btn-danger', :method => :delete %>
    <% else %>
      <% if @course.free? %>
        <%= link_to 'Subscribe', course_enrollments_path(@course), :class => 'btn btn-primary', :method => :post %>
      <% else %>
        <%= form_tag course_enrollments_path(@course) do %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                  data-amount="<%= (@course.cost * 100).to_i %>"
                  data-panel-label="Subscribe">
          </script>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-8 col-xs-12">
    <p><strong>Instrument:</strong> <%= @course.instrument %></p>
    <p><strong>Description:</strong> <%= @course.description %></p>
  </div>

  <div class="col-xs-12">
    <% @course.sections.rank(:row_order).each do |section| %>
      <br /><br />
      <div class="section">
        <h3 class="text-center">
          <%= section.title %>
        </h3>
        <% section.lessons.rank(:row_order).each do |lesson| %>
          <div class="col-xs-12 col-sm-6">
            <div class="lesson text-center">
              <br />
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
              <% end %>
            </div>
          </div>
        <% end %>
        <br class="clr" />
      </div>
    <% end %>
  </div>
</div>
