$footer-height: auto;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto (-$footer-height);
  /* Pad bottom by footer height */
  padding: 0 0 ($footer-height);
}

/* Set the fixed height of the footer here */
#footer {
  height:$footer-height;
  padding:10px 0px;
  font-weight: 400;
  margin-top: 30px !important;
  border-radius: 0px !important;
  font-family: "Helvetica Neue", Helvetica;
  box-shadow: 1px 0px 2px 1px #2a2a2a;
  background: #121212;
  // -webkit-filter: opacity(0.7);
  // filter: opacity(0.7);
  -webkit-filter: contrast(125%);
  filter: contrast(125%);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  filter: drop-shadow(1px 1px 2px black);
}

#footer a {
  color:white;
  -webkit-filter: drop-shadow(1px 1px 1px black);
  filter: drop-shadow(1px 1px 1px black);
}

#footer b {
  color:white;
  font-weight: 1000;
  font-size: 18px;
  -webkit-filter: drop-shadow(1px 1px 1px black);
  filter: drop-shadow(1px 1px 1px black);

}

.social-button {
  width: 32px;
  margin: 4px !important;
}

.social a:hover {
  text-decoration:none;
}

$footer-height-mobile: auto;
@media (max-width: 750px) {
  #footer {
    height:$footer-height-mobile;
  }

  #wrap {
    margin: 0 auto -$footer-height-mobile;
    /* Pad bottom by footer height */
    padding: 0 0 $footer-height-mobile;
  }

  #footer .social {
    margin-top: 10px;
  }

}
