@import url(https://fonts.googleapis.com/css?family=PT+Sans);

h1, h2, h3, h4, h5, h6, .navbar-inverse {
  margin: 0px !important;
}

.navbar-inverse a.navbar-brand {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 !important;
  // -webkit-filter: drop-shadow(1px 1px 2px black);
  // filter: drop-shadow(1px 1px 2px black);
}

.navbar {
  padding: 0;
  margin: 0 !important;
  border-radius: 0px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  font-size: 16px;
  color: white;
  // box-shadow: 0px 1px 3px #2a2a2a;
  background: #121212;
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 1px 2px #2a2a2a;
  margin-top: 0px !important;
  // -webkit-filter: grayscale(20%);
  // filter: grayscale(20%); //firefox
}

.frosty {
  margin-top: 0px !important;
  // background:rgba(0,0,0, 0.3);
  color: white;
  -webkit-filter: drop-shadow(1px 2px 3px black);
  filter: drop-shadow(1px 2px 3px black);
}

.frosty h1 {
  margin-top: 0px !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  // text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  // text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius: 0 !important;
}

body {
  background: #D6D2C9;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.alert {
  margin: 0 !important;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px !important;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px !important;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #fb0000;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  font-size: 15px;
}

.lesson a b {
  font-weight: 300;
  font-size: 25px;
  text-decoration: underline;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin: 10px;
  margin-left: -30px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  margin-left: -30px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100px;
}

.lessons li p {
  margin: 0;
}

.delete {
  margin-top: 0;
  margin-bottom:10px;
  margin-right: -30px;
}

.lessondot {
  margin-top: -20px;
  margin-bottom:10px;
  margin-right: 5px;
  margin-left: -15px;
  width: 5px;
  height: 5px;
}

.newlesson {
  margin: 10px;
}

.glyphicon-plus {
  font-size: 20px;
}

.new-lesson-button {
  padding: -20px;
}

.preview {
  margin-top: -10px;
  margin-bottom: 5px;
}

.newsection {
  margin-top: -34px;
}

.deletesection {
  margin: 10px;
  margin-top: 10px;
}

.deletesection .glyphicon-remove {
  font-size: 20px;
}
